APP_ENV=development

DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
DB_SSL_MODE=disable

FIBER_PREFORK=false
APP_PORT=8000
APP_HOST=127.0.0.1

SERVER_READ_TIMEOUT=10

CORS_ALLOW_ORIGINS=http://localhost:3000
CORS_ALLOW_HEADERS=Origin, Content-Type, Accept, Authorization
CORS_ALLOW_METHODS=GET,POST,DELETE,OPTIONS,PUT,PATCH

JWT_SECRET=your_jwt_secret_key

LOG_LEVEL=debug

DRAGONFLY_ADDR=localhost:6379
DRAGONFLY_PASSWORD=
DRAGONFLY_DB=0
DRAGONFLY_KEY_PREFIX=app

RUSTFS_ACCESS_KEY_ID=access_key
RUSTFS_SECRET_ACCESS_KEY=secret_key
RUSTFS_REGION=us-east-1
RUSTFS_BUCKET=bucket
RUSTFS_ENDPOINT=http://localhost:9000
RUSTFS_USE_PATH_STYLE=false
